.footer-container {
  display:flex;
  justify-content: flex-end;
  margin-top: 0.5em;
  margin-left: 2rem;
}

hr.dashed {
  border: 0;
  border-top: 2px dashed #bbb;
  margin: 1rem;
}

.link {
  margin-left: 1rem;
  margin-right: 1rem;
}

.link:hover {
  text-decoration: underline;
}