.text-container {
  width:90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 40em) {
  .text-container {
    width: 50%;
    // text-align: center;
    // margin-left: auto;
    // margin-right: auto;
  }
}

.header-text {
  text-align: center;
}

.home-list {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.recipe-tile-image {
  height: 10em;
  width: 20em;
  margin: .5em;
  object-fit: cover;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.recipe-tile-image:hover {
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

