.recipe.image {
  height: 50vh;
  object-fit: cover;
}

.lists {
  display: flex;  
  flex-direction: column;
  gap: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
}

.ingredient {
  gap: 1rem;
}

.instruction {
  gap: 1rem;
}

.container {
  margin: 1rem;
}

.nav-container {
  display: flex;
  margin-left: 1rem;
  margin-right: 1.5rem;
  justify-content: space-between;
  align-items: baseline;
}

.join-button {
  color: #1879ba;
  
}

.join-button:hover {
  cursor: pointer;
}

hr.dashed {
  border: 0;
  // width: 100%;
  border-top: 2px dashed #bbb;
  margin-top: 0;
}

@media screen and (min-width: 750px) {
  .lists {
    flex-direction: row;
  }

  .lists > * {
    flex: 1;
  }
}

@media screen and (min-width: 1400px) {
  .content {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.show-link:hover {
  text-decoration: underline;
}