.recipe-image {
  display: flex;
  height: 50vh;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.recipe-name {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  font-weight: bold;
}

.lists {
  display: flex;  
  flex-direction: column;
  gap: 2rem;
}

.list {
  display: flex;
  flex-direction: column;
}

.ingredient {
  gap: 1rem;
}

.instruction {
  gap: 1rem;
}

.container {
  margin: 1rem;
}

.nav-container {
  display: flex;
  margin-left: 1em;
  margin-right: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  justify-content: space-between;
  align-items: baseline;
}

.join-button {
  color: #1879ba;
  margin-bottom: 0.5em;
  
}

.join-button:hover {
  cursor: pointer;
}

hr.dashed {
  border: 0;
  border-top: 2px dashed #bbb;
  margin-top: 0;
}

@media screen and (min-width: 58em) {
  .lists {
    flex-direction: row;
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .lists > * {
    flex: 1;
    padding-left: 2rem;
    padding-right: 2rem;

  }

  .instruction.list {
    flex-grow: 2;
  }
}

.show-link:hover {
  text-decoration: underline;
}


