.index-container {
  height: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  flex:1;
}

.index-header {
  margin-left: 1rem;
}

.search-bar {
  margin-right: 1em;
}

.form-container {
  align-items:center;
}

.or {
  margin-right: 2rem;
}

.recipe-link {
  color: black;
}

.recipe-link:hover {
  text-decoration: underline;
}
