h3 {
  text-align: center;
  font-weight: bold;
}

.form-container {
  height: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  flex:1;
}

.recipe-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  // justify-content: space-around;
  align-items: center;
  gap: 0.5em;
}

.input-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap:0.5em;
  // align-items: center;
}

.multi-input-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.multi-input {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

