.scraper-feedback {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.scraper-feedback span {
  margin-bottom: 0;
}

.scraper-container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 0.5em;
  align-items:center;
}

.scraper-input {
  margin-right: 1em;
}

.scraper-header {
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 0;
}

.scraper-form {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  height:auto
}

.scraper {
  margin-bottom: 0.5em;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-hint {
  margin: 0;
  font-size: 85% ;
}

input.wild-mode-checkbox {
  margin-bottom: 0;
}
