@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import "../recipeShow.scss";
@import "../recipeIndex.scss";
@import "../recipeTile.scss";
@import "../footer.scss";
@import "../recipeForm.scss";
@import "../header.scss";
@import "../scraper.scss";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html, body {
  height: 100%;
}

#app {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.tab:hover {
  text-decoration: underline;
}